    <div class="apidocs">
        <div id="docs-main" class="content">
            <p>
            Navegue por um módulo ou classe usando a barra lateral para ver sua documentação da API.
            </p>

            <h2>Atalhos do Teclado</h2>

            <ul>
                <li><p>Pressione <kbd>s</kbd> para focar a caixa de texto de busca do API.</p></li>

                <li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> para selecionar classes, módulos e procurar resultados.</p></li>

                <li class="mac-only"><p>Com a caixa de texto de busca do API ou barra lateral focada, use <kbd><span class="cmd">&#x2318;</span>-Left</kbd> ou <kbd><span class="cmd">&#x2318;</span>-Right</kbd> para mudar entre abas da barra lateral.</p></li>

                <li class="pc-only"><p>Com a caixa de texto de busca do API ou barra lateral focada, use <kbd>Ctrl+Left</kbd> and <kbd>Ctrl+Right</kbd> para mudar entre abas.</p></li>
            </ul>
        </div>
    </div>


