    <div id="api-options">
        Mostrar:
        <label for="api-show-inherited">
            <input type="checkbox" id="api-show-inherited" checked>
            Herdado
        </label>

        <label for="api-show-protected">
            <input type="checkbox" id="api-show-protected">
            Protegido
        </label>

        <label for="api-show-private">
            <input type="checkbox" id="api-show-private">
            Privado
        </label>
        <label for="api-show-deprecated">
            <input type="checkbox" id="api-show-deprecated">
            Depreciado
        </label>

    </div>

